@charset "UTF-8";

@font-face {
    font-family: Entanglement;
    src: url(layout/Entanglement-rgpRB.ttf);
}

@font-face {
    font-family: Oasis;
    src: url(layout/Oasis-BW0JV.ttf);
}

@font-face {
    font-family: Dystopian;
    src: url(layout/Sddystopiandemo-GO7xa.otf);
}

@font-face {
    font-family: Orbitron;
    src: url(layout/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: TiltPrism;
    src: url(layout/TiltPrism-Regular-VariableFont_XROT,YROT.ttf);
}

@font-face {
    font-family: WaveFont;
    src: url(layout/Wavefont-VariableFont_ROND,YELA,wght.ttf);
}

@font-face {
    font-family: RubikGlitchPop;
    src: url(layout/RubikGlitchPop-Regular.ttf);
}

@font-face {
    font-family: Foldit;
    src: url(layout/Foldit-VariableFont_wght.ttf);
}

@font-face {
    font-family: LineFont;
    src: url(layout/Linefont-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: BigShouldersInlineText;
    src: url(layout/BigShouldersInlineText-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aquire;
    src: url(layout/Aquire-BW0ox.otf);
}

@font-face {
    font-family: AquireB;
    src: url(layout/AquireBold-8Ma60.otf);
}

@font-face {
    font-family: AquireL;
    src: url(layout/AquireLight-YzE0o.otf);
}

@font-face {
    font-family: RustyAttack;
    src: url(layout/RustyAttackDemo-d9X8l.otf);
}

@font-face {
    font-family: Rusted;
    src: url(layout/RustedPersonalUse-Rp1rv.ttf);
}

@font-face {
    font-family: Sanctuary;
    src: url(layout/AnkhSanctuary-nROx4.ttf);
}

html{
    padding: 1em;
    background-color: rgb(209, 176, 255);
    float: none;
    flex-flow: wrap;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: Oasis, Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 14em;
    float: none;
    align-content: center;
    align-items: center;
}

footer{
    padding-top: 5em;
}
